*.o
*.a
*.mod
TODO
Makefile.in
aclocal.m4
autom4te.cache/
autoscan.log
configure
configure.scan
depcomp
install-sh
missing
Makefile
config.log
config.status
tests/Makefile
*.tar.gz
datetime-fortran.pc
src/tests/datetime_tests

src/tests/test-suite.log
src/tests/tests-env.sh.log
src/tests/tests-env.sh.trs
test-driver

